USE [master]
GO
/****** Object:  Database [ExamenEmpleadoDB]    Script Date: 17/07/2024 11:29:27 p. m. ******/
CREATE DATABASE [ExamenEmpleadoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamenEmpleadoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamenEmpleadoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamenEmpleadoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ExamenEmpleadoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamenEmpleadoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamenEmpleadoDB]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fotografia] [nvarchar](max) NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Apellido] [varchar](max) NOT NULL,
	[PuesotId] [int] NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[Direccion] [varchar](max) NOT NULL,
	[Telefono] [varchar](max) NOT NULL,
	[CorreoElectronico] [varchar](max) NOT NULL,
	[EstadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([Id], [Nombre]) VALUES (1, N'Aguascalientes')
INSERT [dbo].[Estados] ([Id], [Nombre]) VALUES (2, N'Baja California')
INSERT [dbo].[Estados] ([Id], [Nombre]) VALUES (3, N'Baja California Sur')
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[Puestos] ON 

INSERT [dbo].[Puestos] ([Id], [Nombre]) VALUES (1, N'Gerente')
INSERT [dbo].[Puestos] ([Id], [Nombre]) VALUES (2, N'Coordinador')
INSERT [dbo].[Puestos] ([Id], [Nombre]) VALUES (3, N'Desarrollador')
SET IDENTITY_INSERT [dbo].[Puestos] OFF
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estados] ([Id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([PuesotId])
REFERENCES [dbo].[Puestos] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[spActualizarEmpleado]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spActualizarEmpleado]
@Nombre varchar(50),
@Fotografia nvarchar(max),
@Apellido varchar(50),
@PuestoId int,
@FechaNacimiento date,
@FechaContratacion date,
@Direccion varchar(50),
@Telefono varchar(50),
@CorreoElectronico varchar(50),
@EstadoId varchar(50),
@Id int

AS 
BEGIN 

	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	BEGIN TRY
		 -- Inicia el bloque de la transaccion
		BEGIN TRANSACTION;

			update Empleado
			set Nombre = @Nombre,
				Fotografia = case when @Fotografia = '' then Fotografia else @Fotografia end,
				Apellido = @Apellido,
				PuesotId = @PuestoId,
				FechaNacimiento = @FechaNacimiento,
				FechaContratacion = @FechaContratacion,
				Direccion = @Direccion,
				Telefono = @Telefono,
				CorreoElectronico = @CorreoElectronico,
				EstadoId = @EstadoId
			where Id = @Id

		COMMIT TRANSACTION;
		-- Indica que la operación se efectuo correctamente
		SELECT '1' AS resultado;    
	END TRY
	
	/* Manejo de error de la transacción */
	BEGIN CATCH
		SELECT 'spActualizarEmpleado: ' + ERROR_MESSAGE() AS resultado; 
		ROLLBACK TRANSACTION;
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[spAgregarEmpleado]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spAgregarEmpleado]
@Nombre varchar(50),
@Fotografia nvarchar(max),
@Apellido varchar(50),
@PuestoId int,
@FechaNacimiento date,
@FechaContratacion date,
@Direccion varchar(50),
@Telefono varchar(50),
@CorreoElectronico varchar(50),
@EstadoId varchar(50)

AS 
BEGIN 

	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	BEGIN TRY
		 -- Inicia el bloque de la transaccion
		BEGIN TRANSACTION;
			insert into Empleado (Nombre,Fotografia,Apellido,PuesotId,FechaNacimiento,FechaContratacion,Direccion,Telefono,CorreoElectronico,EstadoId) 
			values (@Nombre,isnull(@Fotografia, ''),@Apellido,@PuestoId,@FechaNacimiento,@FechaContratacion,@Direccion,@Telefono,@CorreoElectronico,@EstadoId)

		COMMIT TRANSACTION;
		-- Indica que la operación se efectuo correctamente
		SELECT '1' AS resultado;    
	END TRY
	
	/* Manejo de error de la transacción */
	BEGIN CATCH
		SELECT 'spagregarEmpleados: ' + ERROR_MESSAGE() AS resultado; 
		ROLLBACK TRANSACTION;
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[spEliminarEmpleado]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[spEliminarEmpleado]
@EmpleadoId int

AS 
BEGIN 

	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

	BEGIN TRY
		 -- Inicia el bloque de la transaccion
		BEGIN TRANSACTION;
			
			delete Empleado where Id =  @EmpleadoId

		COMMIT TRANSACTION;
		-- Indica que la operación se efectuo correctamente
		SELECT '1' AS resultado;    
	END TRY
	
	/* Manejo de error de la transacción */
	BEGIN CATCH
		SELECT 'spEliminarEmpleado: ' + ERROR_MESSAGE() AS resultado; 
		ROLLBACK TRANSACTION;
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[spObtenerEmpleados]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spObtenerEmpleados]
as 
begin 

	select e.Id,e.Fotografia,e.Nombre,e.Apellido,p.Id PuestoId,p.Nombre Puesto,e.FechaNacimiento,e.FechaContratacion,e.Direccion,e.Telefono,e.CorreoElectronico,est.Id EstadoId,est.nombre Estado 
	from Empleado e
	inner join Puestos p on p.Id = e.PuesotId
	inner join Estados est on est.Id = e.EstadoId

end
GO
/****** Object:  StoredProcedure [dbo].[spObtenerEstados]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spObtenerEstados]
as 
begin 

	select Id, Nombre
	from Estados

end
GO
/****** Object:  StoredProcedure [dbo].[spObtenerPuestos]    Script Date: 17/07/2024 11:29:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spObtenerPuestos]
as 
begin 

	select Id, Nombre
	from Puestos

end
GO
USE [master]
GO
